*{
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}
header{
  background-image: url("images/banner/banner1.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  text-align: right;
  display: flex ;
  align-items: center;
}
header div{
  width: 50%;
  padding-right: 200px;
}
.hero h1{
    
    font-size: 65px;
    font-weight: 700;
}
.hero p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.hero button{
  margin-top: 20px;
  padding: 20px 26px;
  border: 0;
  border-radius: 5px;
  background: #F15B22;
  color: #FFF;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
.about{
  display: flex;
  align-items: center;
  padding: 140px 200px;
  position:relative;
}
.circle{
  position: absolute;
  width: 535px;
  height: 535px;
  z-index: -3;
  background-color: #f15b2259;
  border-radius: 50%;
  bottom: 146px;
  left: 216px;
}
.about h2{
  margin-left: -24px;
  color: #151414;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about p{
  margin-left: -24px;
  color: #444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.about ul li{
    color: #444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.about ul{
  list-style-image: url('images/icon.svg');
}
.about_content{
  margin-left:104px;
}
#info{
  width: 1140px;
  height: 350px;
   margin: 0 auto;
}
#info h2{
  color:  #151414;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}
.info-box{
  display: flex;
 
  justify-content: center;
}
.info-box div{
  width: 25%;
  line-height: 35px;
  text-align: center;
}
.info-box img{
  width: 93px;
  height: 93px;
  margin: 0 auto;
}
.info-box h3{
    color: #151414;
    text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info-box p{
  color:  #737272;
  text-align: center;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#cta{
  width: 1140px;
  height: 300px;
  margin: 0 auto;
  background-image: url('images/watch.png');

}
#cta div{
    background-image: url('images/gradient2.png');
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}
#cta div div{
  padding-top: 77px;
  padding-left: 64px;
}
#cta div h2{

    color: #FFF;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
#cta button{
  padding: 20px 36px;
  border: 0;   
    color: #F15B22;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 15px;
}
footer{
width: 100%;
    height: 380px;
    background-color: #151414;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    padding-top:110px ;
}
footer div:nth-child(1) h2{
  color: #F8F8F8;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
footer div p{
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-top: 16px;
}
footer div ul{
  list-style: none;
  margin-top: 24px;
}
footer div ul li{
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
footer div img{
  padding-top: 16px;
}
footer div:nth-child(2) h2{
  color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
footer input{
  border-radius: 8px;
border: 1px solid #FFF;
width: 325px;
height: 64px;
flex-shrink: 0;
background:  #151414;
margin-top: 16px;
}
footer button{
  padding: 20px 36px;
  margin-top: 16px;
  color: #F15B22;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 16px;
}
